<!DOCTYPE HTML>
%html
  %head
    %title UiChanged
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %meta{:charset => "utf-8"}
    = stylesheet_link_tag "ui_changed/application", :media => "all"
    = javascript_include_tag "ui_changed/application"
    = csrf_meta_tags
  %body
    .container
      .row
        .span3= render :partial => "ui_changed/screenshots/side_nav"
        .span9= yield
        %input.f_ignore_url_add{:type => "hidden", :value => screenshot_ignore_url_add_path + "?id="}